.itemCard {
    min-height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    color: black;

    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
}

.itemCard > img {
    max-width: 70%;
}

.itemCard > h2 {
    font-size: 1.35rem;
}

.addToCartForm {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.addToCartForm > input {
    border-radius: 0.5rem;
    border: none;
    text-align: center;
}

.addToCartForm > * {
    flex-shrink: 1;
    max-width: 8rem;
}